@media screen and (max-width:680px) {
    /* If screen smaller than 680 px hide all nav items except the
    active one and the toggle-nav button */
    nav .centered ul li:not(.active)
    {
        display: none;
    }
    nav .centered ul li:last-child {
      display: inline-block;
    }
    nav .centered ul li.active {
      border: none;
    }
}